//@import "../images/icons/*.png";
//$names: sprite-names($icons);
$rem: 75;

@function p2r($px) {
    @return ($px / $rem) + rem;
}

@function a2($px) {
    @return $px/2*1px;
}

@mixin clearfix() {
    &:after {
        display: block;
        height: 0;
        clear: both;
        content: ' ';
    }
}

@mixin wh($width, $height) {
    width: $width;
    height: $height;
}

@mixin ab_r_t($r, $t) {
    position: absolute;
    right: $r;
    top: $t;
}

@mixin ab_l_t($l, $t) {
    position: absolute;
    left: $l;
    top: $t;
}

@mixin ab_l_b($l, $b) {
    position: absolute;
    left: $l;
    bottom: $b;
}

@mixin ellip() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin abcenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin bg($img, $w: 100%, $h: 100%) {
    width: $w;
    height: $h;
    background-image: url($img);
    background-repeat: no-repeat;
    background-size: 100%;
}



//@mixin getIcon($name){
//    display: inline-block;
//    vertical-align: top;
//    background-image: sprite-url($icons);
//    background-repeat: no-repeat;
//    background-size: #{p2r(sprite-width($icons))}
//    #{p2r(sprite-height($icons))};
//    background-position: -#{p2r(sprite-position-x($icons, $name))} -#{p2r(sprite-position-y($icons, $name))};
//    width: #{p2r(sprite-width($icons, $name))};
//    height: #{p2r(sprite-height($icons, $name))};
//}
